export(altmetcom)
export(bitly_clicks)
export(bitly_expand)
export(bitly_shorten)
export(citedin)
export(digg_user)
export(disqus)
export(github)
export(gplus)
export(stackexchange)
export(totimp)
export(totimp_dryad)
export(totimp_getid)
export(totimp_getids)
export(totimp_getitem)
export(totimp_hello)
import(R.utils)
import(RCurl)
import(RJSONIO)
import(XML)
import(plyr)
import(stringr)
