export(bitly_auth)
export(bitly_clicks)
export(bitly_expand)
export(bitly_shorten)
export(citedin)
export(digg_user)
export(disqus)
export(github_allrepos)
export(github_auth)
export(github_commits)
export(github_repo)
export(gplus)
export(stackexchange)
import(R.utils)
import(RCurl)
import(RJSONIO)
import(XML)
import(ggplot2)
import(httr)
import(lubridate)
import(plyr)
import(reshape2)
