export(colClasses)
export(github_allrepos)
export(github_auth)
export(github_commits)
export(github_create_repo)
export(github_repo)
export(github_timeseries)
import(ggplot2)
import(ggthemes)
import(httr)
import(lubridate)
import(plyr)
import(reshape2)
